html{
  padding:0
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 12%, rgba(48,48,48,1) 62%, rgba(96,97,97,1) 100%);
    font-family: "Montserrat";
    text-align: center;
    color: #8f8f8f;
    padding: 0
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }
  
  p {
    color: #8f8f89;
  }
  
  /* Headings */
  
  .big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
  }
  

  /* Containers */
  
  .container-fluid{
    padding: 3.5% 7.5%;
  }
  

   
  /* Features Section */
  
  #features {
    position: relative;
  }
  
  .feature-title {
    font-size: 1.5rem;
    color: #8f8f8f;
  }
  
  .feature-title:hover {
    color: #fff;
  }

  .feature-box {
    padding: 1.5%;
  }
  .icon {
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #fff;
  }

.image{
    padding-left: 3rem;
    border-radius: 50%;
    position: relative;
}

.info {
    padding: 1.5rem 1rem 0 1rem;
    text-align: left;
    width: 100%
}
.footer {
    text-align: center;
    padding: 2rem
}
.text-info {
  padding: auto;
}

@media (max-width: 990px) {
    .info {
        text-align: center;
        width: 25rem;
        margin: auto;
    }
}